*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    margin:0;
}

body{
    background-color:  rgb(46, 46, 46);
    overflow-x: hidden;
}
header{
    background:rgb(17, 17, 17);
}
nav{
    min-height: 10vh;
    width: 80vw;
}
nav a{
    color:aliceblue;
    text-decoration: none;
}
.navbar-toggler{
    color:aliceblue;
    font-size: 2em;
}

.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    min-height: 95vh;
    background-image: linear-gradient( 90.5deg,  rgba(152,45,255,1) 0.7%, rgba(90,241,255,1) 50%, rgba(65,239,164,1) 100% );      
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.botonSlider{
    background-color: rgba(255, 76, 76, 0);
    border:1px solid rgba(211, 22, 22, 0);
    border-radius: 1em;
}

.carousel-item img{
    border-radius: 1em;
}
.carousel-item{
    user-select: none;
}

.imgSlider{
    object-fit: auto; 
    object-position: center;
    max-height: 35vw;
}
.boton{
    width:150px;
    height: 50px;
    border:2px solid rgba(252, 70, 252, 0.664);
    border-radius: 2em;
    cursor: pointer;
    user-select: none;
}

.bloque{
    border:3px solid rgba(252, 70, 252, 0.664);
    border-radius: 2em;
    padding: 15px;
}

footer{
    min-width: 100vw;
    background:rgb(17, 17, 17);
    color:#f5f5dc;
}
